*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
}
li{
    list-style: none;
  
}
.btn-1{
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    appearance: none;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    padding: 0.75rem 1.5rem 0.8125rem;
    background: rgb(30, 48, 110);
    margin-left: 1rem;
}
h2{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0px;
    color: rgb(30, 48, 110);
}
span{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #444;
}
.icon{
    color: #444;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;

}
.main-header .header-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);    
}
.nav h1{
    color: #0a097a;
    cursor: pointer;
    
}
.nav .nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem;
}
.nav .nav-links ul li{
    padding: 7px 7px;
    font-size: 1.2rem;
    color: #0a097a;
    cursor: pointer;
}
.nav .nav-links ul li:hover{
    border-bottom: 3px solid #0a097a;
}
.content-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;
   
}
.content-items span{
    font-size: 1.1rem;
    margin-left: 1rem;
}
.caraousel-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify !important;
}
.accolades{
    margin-bottom: 3rem;
}
.accolades-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.accolades-caption{
    margin: 2rem 2rem;
}
.accolades-caption p{
    text-align: center;
}
.container{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.card-deck{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem;
    place-items: center;
}

.column-wave .best{
    font-style: normal;
    display: inline-block;
    font-size: 0.75rem;
    color: rgb(30, 48, 110);
    background-color: rgb(229, 235, 233);
    padding: 0.125rem 0.75rem;
    border-radius: 0.75rem
}
.column-wave h2 span{
    color: rgb(15, 30, 83);
    font-size: 1.5rem;
    
}
.column-wave p span{
    color: #444;
    font-size: 1.1rem;
}
.yu{
    position: relative;
    margin-bottom: 1rem;
}
.card{
    position: relative;
    width: 100%;
    
}
.flash-sale{
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 1.125rem;
    right: -15px;
    height: 1.25rem;
    z-index: 1;
    font-size: 0.75rem;
    letter-spacing: 0.03125rem;
    background-color: rgb(30, 48, 110);
    color: rgb(255, 255, 255);
    font-weight: 600 !important;
    padding: 0.125rem 0.75rem;
    border-radius: 0.625rem 0px 0px 0.625rem;
}
.wrapper{
    display: flex;
    margin-bottom: 1rem;
    text-align: left;
    border-top: 1px solid rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.price-wrapper{
    position: relative;
    width: 50%;
    padding: 0.5rem 1rem 0px 0px;
    border-right: 1px solid rgb(230, 230, 230);
}
.price-wrapper .from{
    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.33;
    letter-spacing: 0.01875rem;
    color: rgb(82, 82, 82);
}
.price-wrapper ::after{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: "OR";
    position: absolute;
    top: 35%;
    right: -0.6875rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 0.6875rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%
}
.price-wrapper .price{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
    line-height: 1.143;
    color: rgb(0, 132, 130);
}
.promo-price{
    display: flex;
    flex-wrap: wrap;
}
.promo-price .striked-price{
    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: rgb(116, 116, 116);
    text-decoration: line-through;
}
.promo-price .saveAmount{
    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: rgb(0, 132, 130)
}
.wrapper2{
    width: 50%;
    padding: 0.5rem 0px 0px 1.75rem
}
.wrapper2 .low{
    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.33;
    letter-spacing: 0.01875rem;
    color: rgb(82, 82, 82)
}
.wrapper2 .amount{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    color: rgb(30, 48, 110);
    margin-bottom: 0px;
    line-height: 1.143;
    font-size: 2rem !important;
}
.wrapper2 .month{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    color: rgb(30, 48, 110);
    margin-bottom: 0px;
    line-height: 1.143;
    font-size: 2rem !important;
}
.text-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
    
}
.icons{
    text-align: center;
}
.icon{
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 0.5rem
}
.section-wrapper .feature-heading h3 span{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0px;
    color: rgb(30, 48, 110) !important;
}
.icons .feature-para p span{
    margin-bottom: 0px;
    color: rgb(21, 21, 21);
   
}
.icons .feature-heading p span a{
    color: rgb(30, 48, 110);
    cursor: pointer;
    border-bottom: 1px solid rgba(33, 43, 100, 0.25);
    transition: border-color 0.15s ease-out 0s;
  
}
.container-casing{
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: block;
    max-width: 1360px;
    background-color: rgb(82, 102, 153);
}
.heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-container img{
    width: 70%;
    height: 70%;
}
.heading-container h2{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.143;
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
}
.content{
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1.75rem;
    border-left: 1px solid rgb(150, 161, 188);
    border-color: rgb(150, 161, 188);
}
.progress-bar{
    position: absolute;
    top: 0px;
    left: -0.0625rem;
    width: 0.1875rem;
    background-color: rgb(255, 255, 255);
    transition: height 7s ease 0s;
}
.content h3{
    font-size: 1.125rem;
    line-height: 1.333;
    letter-spacing: 0.0375rem;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 1;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
    transition: opacity 0.15s ease-out 0s;
}
.content p{
    font-style: normal;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.33;
    letter-spacing: 0.01875rem;
    color: rgb(255, 255, 255);

}
.snooze{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem;
    place-items: center;
    text-align: center;
}
.snooze-items img{
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}
.container .heading-1{
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.167;
    letter-spacing: 0px;
    color: rgb(30, 48, 110);
}
.snooze-items h3{
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.167;
    letter-spacing: 0px;
    color: rgb(30, 48, 110);

}
.snooze-items p{
    font-size: 1.125rem;
    line-height: 1.333;
    letter-spacing: 0.0375rem;

}
.btn-2{
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    appearance: none;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
    padding: 0.75rem 1.5rem 0.8125rem;
    background: rgb(30, 48, 110);
}
.snooze .card .img{
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 3rem;
    background-color: rgb(30, 48, 110);
    color: #fff;
    margin-top: 2rem;
}
.products-items{
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem;
}
.products-items .item{
    font-size: 1rem;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
}
.products-items .item li{
    margin: 5px 5px;
}
.products .lastest {
    margin: 3rem 2rem;
}
.products .socials{
    margin: 1rem 1rem;
}
.products .socials i{
    padding: 5px 5px;
    font-size: 1.2rem;
}
.products .socials p{
    padding: 5px 5px;
    font-size: 1rem;
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d4975;
    color: #fff;
}
.main-footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
}
.main-footer ul li{
    padding: .5rem .5rem;
    font-size: 1rem;
}







@media (max-width: 768px){
    .container .card-deck{
        display: flex;
        width: 100%;
        text-align: center;
        flex-flow: column nowrap;
        padding: 2.5rem 1.5rem;
    }
    .text-block{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .feature-heading{
        font-size: 1rem;

    }
    .card-deck{
        grid-template-columns: auto;
    }
    .heading-container{
        flex-wrap: wrap;
    }
    .heading-container img{
        margin-bottom: 3rem;
    }
    .snooze{
        grid-template-columns: auto;
    }
    .products{
        grid-template-columns: auto;
    }
    .products .socials{
        font-size: 10px;
    }
    .products-items{
        font-size: 10px;
    }
    .main-footer p{
        font-size: 10px;
    }
    .main-footer ul li{
        font-size: 10px;
    }


}
